name: Docker Image CI

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build image
      run: docker build . --file Dockerfile --tag image .

    - name: Save image
      run: docker save image -o image.tar

    - name: Upload
      run: actions/upload-artifact@v4
      with:
        name: image
        path: image.tar
